extends layout

block content
  h1 Find your train!
  p Select your train below to see its current schedule.
  #wrapper
    #trainList
      h2 Trains
      #trains.d-flex.flex-row
    #trainInfSelecto
      strong  <span id='trainName'></span>
      #trainSchedule
        strong  Good luck to you in your travels.
